<div class="container">
  
    <div>
      <h1>{{ pokemon1.name }}
      <img src="{{pokemon1.photo}}" alt="">
    </h1>
      <h1 >{{ pokemon1.name }} - {{ pokemon1.hp }} - {{ pokemon1.attack }} - {{ pokemon1.defense }} -
        {{ pokemon1.specialAttack }} - {{ pokemon1.specialDefense }} - {{ pokemon1.speed}}
      </h1>
    </div>

    <div>
      <h1>{{ pokemon2.name }}
      <img src="{{pokemon2.photo}}" alt="">
    </h1>
      <h1 >{{ pokemon2.name }} - {{ pokemon2.hp }} - {{ pokemon2.attack }} - {{ pokemon2.defense }} -
        {{ pokemon2.specialAttack }} - {{ pokemon2.specialDefense }} - {{ pokemon2.speed}}
      </h1>
    </div>

    <div>
      <h1>{{ pokemon3.name }}
      <img src="{{pokemon3.photo}}" alt="">
    </h1>
      <h1 >{{ pokemon3.name }} - {{ pokemon3.hp }} - {{ pokemon3.attack }} - {{ pokemon3.defense }} -
        {{ pokemon3.specialAttack }} - {{ pokemon3.specialDefense }} - {{ pokemon3.speed}}
      </h1>
    </div>

    <div>
      <h1>{{ pokemon4.name }}
      <img src="{{pokemon4.photo}}" alt="">
    </h1>
      <h1 >{{ pokemon4.name }} - {{ pokemon4.hp }} - {{ pokemon4.attack }} - {{ pokemon4.defense }} -
        {{ pokemon4.specialAttack }} - {{ pokemon4.specialDefense }} - {{ pokemon4.speed}}
      </h1>
    </div>

    <div>
      <h1>{{ pokemon5.name }}
      <img src="{{pokemon5.photo}}" alt="">
    </h1>
      <h1 >{{ pokemon5.name }} - {{ pokemon5.hp }} - {{ pokemon5.attack }} - {{ pokemon5.defense }} -
        {{ pokemon5.specialAttack }} - {{ pokemon5.specialDefense }} - {{ pokemon5.speed}}
      </h1>
    </div>
  </div>