<div class="container">
  <input type="text" placeholder="Type a pokemon name" [(ngModel)]="pokemonName">
  <h1>{{ pokemon.name }}
    <img src="{{pokemon.photo}}" alt="">
  </h1>
  <button (click)="getPokemons()">Add Pokemon</button>
  <button (click)="viewStats()">View Stats</button>
  <div>
    <h1 >{{ pokemon.name }} - {{ pokemon.hp }} - {{ pokemon.attack }} - {{ pokemon.defense }} -
      {{ pokemon.specialAttack }} - {{ pokemon.specialDefense }} - {{ pokemon.speed}}
    </h1>
  </div>
</div>

